.autoscroller {
    overflow: hidden;
    max-width: 100%;
    margin-top: 10px;
  }
  
  .autoscroller-slider {
    white-space: nowrap;
    transition: ease 1000ms;
  }
  
  .autoscroller-slide {
    display: inline-block;
    height: 500px; /* Adjust the height as needed */
    width: 100%;
    background-size: cover;
  }
  
  /* Add additional styling as needed */
  