
body{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}  
.navbar{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: linear-gradient( to right,black,rgb(12, 131, 236));
}
.navbar .logo{
	width: 25%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: whitesmoke;
}
.navbar .searchinput{
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.navbar .searchinput input{
	width: 70%;
	padding: 10px;
	border-radius: 16px;
	border: 2px solid whitesmoke;
}
.navbar .rightbox_navbar{
	width: 25%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.navbar .rightbox_navbar .icon{
	font-size: 25px;
	padding: 20px;
	color: whitesmoke;
	cursor: pointer;
}
.navbar .searchinput .icon{
	margin-left: -30px;
	cursor: pointer;
}